<ngx-content-loading
    [speed]="'1500ms'"
    [width]="1000"
    [height]="10000"
    >

        <svg:g ngx-rect width="960" height="400" y="50" x="20" rx="20" ry="50"></svg:g>

        <svg:g ngx-rect width="960" height="100" y="500" x="20" rx="20" ry="50"></svg:g>

        <svg:g ngx-rect width="960" height="100" y="650" x="20" rx="20" ry="50"></svg:g>

        <svg:g ngx-rect width="960" height="100" y="800" x="20" rx="20" ry="50"></svg:g>

        <svg:g ngx-rect width="960" height="100" y="950" x="20" rx="20" ry="50"></svg:g>

        <svg:g ngx-rect width="960" height="100" y="1100" x="20" rx="20" ry="50"></svg:g>

        <svg:g ngx-rect width="960" height="100" y="1250" x="20" rx="20" ry="50"></svg:g>

  </ngx-content-loading>




    
