<div class="total">
  <div cass="cartempty" *ngIf="!isavail">
    <span>
    <h1 style="text-align:center;font-weight:400;
margin-top:10%">

<img src="./assets/cart.png" style=" left:50%;"height="250px">
<br><br>
Your Cart is Empty!
</h1>
<div style="margin-left:23%; margin-top:10%;font-family: 'Lobster Two', cursive;">
<button class="address" routerLink="/mobile">Continue Shopping </button>

  </div>
  </span>
  </div>

<div class="container" *ngIf="isavail">
  <h2>Cart</h2>




<div class="shopping-cart">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

  <div class="product" *ngFor="let item of items ; let i = index">
    <div class="product-image ">
      <button class="wNrY5O" (click)="dec(i)"> – </button>&nbsp;<p class="_2csFM9"> {{item.count}}</p> &nbsp;<button class="wNrY5O" (click)="inc(i)"> + </button>

    </div>
    <div class="product-details">
      <div class="product-title">{{item.itemname}}</div>
      <p class="product-description"></p>
    </div>
    <div class="product-quantity ">
      <div class="product-line-price pull-left">{{item.itemprice}}</div>


    </div>


  </div>


  <div class="totals">

    <div class="totals-item">
      <label calss="pull-left">Subtotal</label>
      <div class="totals-value" id="cart-subtotal">{{subtotal}}</div>

    </div>

    <div class="totals-item">
      <label>Tax (5%)</label>
      <div class="totals-value" id="cart-tax">{{tax}}</div>
    </div>
    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">{{shipping}}</div><hr>
    </div>
    <div class="totals-item totals-item-total">
      <label style="color:green;">Grand Total</label>
      <div class="totals-value" id="cart-total">{{this.total}}</div>
    </div>
  </div>

  <label>Pin Loaction: </label><input type="text" id="lname" name="lname" >
<!--<label> complete addressss</label> <button class="btn danger">Change</button>
-->
      <button class="checkout" routerLink="/mobile/checkout">Checkout</button>

</div>
</div>
</div>
