<div class="total">
<div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="./assets/bk1.jpg" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption">

        </div>
      </div>

      <div class="item">
        <img src="/assets/bk1.jpg" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">

        </div>
      </div>

      <div class="item">
        <img src="./assets/kfc.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">

        </div>
      </div>

    </div>

    <!-- Left and right controls -->
   <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Modal -->
<h1  class="title-pen"style="font-size:0.8em;font-weight:bold" > Grab Your Food


<div class="pull-right" style="margin-right:5.5%;" >
  <i class="fa fa-search bottom-icons" data-toggle="modal" data-target="#myModal"aria-hidden="true"></i>

  </div>
   </h1>

  <details *ngFor="let item of items | keyvalue">
    <summary>{{item.key}}</summary>
    <div class="lists">
    <ul class="list-group">

   <li class="list-group-item" *ngFor="let indi of item.value ; let i = index">
            <label class="itemname">
              <img src="./assets/veg.png" height="15px" *ngIf="indi.itemtype=='veg'">
              <img src="./assets/non-veg.png" height="15px" *ngIf="indi.itemtype=='nonveg'">&nbsp;{{indi.itemname}}

             <p class="price" *ngIf="indi.itemvariant==0">Rs {{indi.itemprice}}</p>
           <p style="color:#099E44" *ngIf="indi.itemvariant==1"> Customize </p></label>

             <button class="btns success  pull-right" *ngIf="indi.itemvariant==1" style="font-size:0.5" (click)="custom(indi.lineitems)">Add <img src="./assets/add.png"></button>
                  <a  class=" pull-right" *ngIf="indi.itemvariant==0">
                  <i class="fa fa-plus-circle" aria-hidden="true" (click)="inc(i,item.key)"></i>

</a>
                 <label *ngIf="indi.itemvariant==0" class="pull-right" style="margin-left:4%;margin-right:4%">{{indi.count}}</label>
                 <a *ngIf="indi.itemvariant==0" class=" pull-right"  style="margin-left:2%">
                   <i class="fa fa-minus-circle" aria-hidden="true" (click)="dec(i,item.key)"></i>

</a>
                </li>


           </ul> </div>  </details>





</div>

<!--


<!--

<div class="modal fade" id="centralModalDanger" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <div class="modal-content">
      <!--Header-->
        <!--  <div class="modal-header">

     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <div class="modal-body container">
        <h2  class="text-center">ADD ON's</h2>

      <ul class="list-group">
      <li class="list-group-item">  <label>Option 1 <br> <p class="price">Rs {{indi.itemprice}}</p></label> <span class="badge"><input type="checkbox" value=""></span></li>

    </ul>

    <div  class="text-center">
      <button class="btn success">&nbsp;&nbsp;OK &nbsp;&nbsp;</button> &nbsp;
      <button class="btn cancel" data-dismiss="modal" aria-label="Close">Cancel</button>

  </div>

</div>


    </div>
  </div>
</div>-->



  <!-- Modal for search-->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      <!--  <div class="modal-header">
          <h1 class="modal-title"></h1>

        </div> -->
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

          <div class="total">
          <div class="search-button">
          <div class="input-group mb-3 " style="margin-top:10%;">
            <input type="text" class="form-control" placeholder="Search for Dishes" aria-label="Recipient's username"
             aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i>
</span>

            </div>
          </div>
          </div>

            <div class="product">
              <div class="product-image ">
                <!--<img src="https://s.cdpn.io/3/dingo-dog-bones.jpg"> -->
                <button class="wNrY5O"> – </button>&nbsp;<p class="_2csFM9"> 10</p> &nbsp;<button class="wNrY5O"> + </button>

              </div>
              <div class="product-details">
                <div class="product-title">Dingo Dog Bones</div>
                <p class="product-description"></p>
              </div>
              <!--<div class="product-price"></div> -->
              <div class="product-quantity ">
                <div class="product-line-price pull-left">25.98</div>


              </div>
            <!--  <div class="product-removal">
                <button class="remove-product">
                  Remove
                </button>
              </div> -->
            </div>

            <div class="product">
              <div class="product-image ">
                <!--<img src="https://s.cdpn.io/3/dingo-dog-bones.jpg"> -->
                <button class="wNrY5O"> – </button>&nbsp;<p class="_2csFM9"> 10</p> &nbsp;<button class="wNrY5O"> + </button>

              </div>
              <div class="product-details">
                <div class="product-title">Dingo Dog Bones</div>
                <p class="product-description"></p>
              </div>
              <!--<div class="product-price"></div> -->
              <div class="product-quantity ">
                <div class="product-line-price pull-left">25.98</div>


              </div>
            <!--  <div class="product-removal">
                <button class="remove-product">
                  Remove
                </button>
              </div> -->
            </div>
          </div>
        </div>
        <!--<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>




<script>

  $(document).ready(function(){
    // TABS
    $('ul.tabs').tabs();
  });




</script>
