<h3 style="text-align:center">Set Delivery Location



</h3>
<agm-map
  [latitude]="latn"
  [longitude]="lngn"
  [zoom]=17
  [scrollwheel]="true"
  [disableDefaultUI]="true"
  [zoomControl]="false"
  [streetViewControl]="false"
  [mapDraggable]="true"
(centerChange)="centerChange($event)"
(mapReady)="mapReady($event)"
>

  <agm-marker
      [latitude]="lat"
      [longitude]="lng"
      [animation]="'DROP'"

      >


  </agm-marker>



</agm-map>
<div class="total" style="margin-left:2%;">

  <div class="container">
    <form action="/action_page.php">
      <div class="row">
        <div class="col-25">
          <label for="fname" style="margin-top:20%">Pin Location</label>
        </div>
        <div class="col-75">
          <p id="lname" >  </p>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-25">
          <label for="lname" style="margin-top:26%">Address</label>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-75">
          <input type="text" id="lname" name="lastname" optional>

        </div>
      </div>-->
     <!-- <div class="row">
        <div class="col-25">
          <label for="subject"style="margin-top:26%">Additonal address</label>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-75">
          <input type="text" id="lname" name="lastname" required>
        </div>
      </div>-->
      <br>
      <div class="row">
        <div class="col-25">
          <label for="country">Save as</label>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-75">


          <input type="radio" name="rb" id="rb1" (click)="type('Home')"/>
          <label id="radio" for="rb1">Home</label>
          <input type="radio" name="rb" id="rb2" (click)="type('Work')" />
          <label id="radio"for="rb2">Work</label>
          <input type="radio" name="rb" id="rb3" (click)="type('Other')" />
          <label id="radio"for="rb3">Other</label>


        </div>
      </div>
    <!--  <form class="form">


    <div class="inputGroup">
      <input id="radio1" name="radio" type="radio"/>
      <label for="radio1">Home</label>
    </div>
    <div class="inputGroup">
      <input id="radio2" name="radio" type="radio"/>
      <label for="radio2">Other</label>
    </div>
    <div class="inputGroup">
      <input id="radio3" name="radio" type="radio"/>
      <label for="radio3">Other
  <input type="text" id="lname" name="lastname" required></label>
    </div>

  </form>-->
      <div class="row">
        <button id="confirmPosition" class="address" style="width:90%;margin-right:2%;margin-left:2%;" (click)="confirmaddress()">Confirm Address</button>
      </div>
    </form>

  </div>
<!--
<label>Pin Loaction: </label><input type="text" id="lname" name="lname" >
<label> Address: </label><input type="text" id="lname" name="lname" >
<label>Land Mark: </label><input type="text" id="lname" name="lname" ><br>
Save as
<button id="confirmPosition" class="address" style="width:90%;margin-right:2%;margin-left:2%;" (click)="confirmaddress()">Confirm Address</button>
-->
</div>
