
<form>
<input ngx-google-places-autocomplete class="form-control" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" width="100%"/>
</form>
<agm-map
  [latitude]="latn"
  [longitude]="lngn"
  [zoom]=17
  [scrollwheel]="true"
  [disableDefaultUI]="true"
  [zoomControl]="false"
  [streetViewControl]="false"
  [mapDraggable]="true"
(centerChange)="centerChange($event)"
(mapReady)="mapReady($event)"
>

  <agm-marker
      [latitude]="lat"
      [longitude]="lng"
      [animation]="'DROP'"

      >


  </agm-marker>



</agm-map>
<div class="total" style="margin-left:2%;">
<h6>Select Delivery Location <span ></span></h6>
<input type="text" id="lname" name="lname" >

<button id="confirmPosition" class="address" style="width:90%;margin-right:2%;margin-left:2%;" (click)="confirmaddress()">Confirm Address</button>
<br>
<br>
<div class="rb-box">

  <!-- Radio Button Module -->
  <p>1. On a scale of 1 to 5 how cubic are you?</p>
  <div id="rb-1" class="rb">
    <div class="rb-tab rb-tab-active" data-value="1">
      <div class="rb-spot">
        <span class="rb-txt">Home </span>
      </div>
    </div>  <div class="rb-tab" style="margin-left:8%;" data-value="2">
      <div class="rb-spot">
        <span class="rb-txt">Work</span>
      </div>
    </div><div class="rb-tab" style="margin-left:8%;" data-value="3">
      <div class="rb-spot">
        <span class="rb-txt">Other</span>
      </div>
    </div>
    </div>
  </div>


  <!-- Radio Button Module -->


  <!-- Button -->

</div>
