


<agm-map  style="height:420px" [zoomControl]="false"
  [streetViewControl]="false">
  <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination" [renderOptions]="renderOpts" [markerOptions]="markerOpts"></agm-direction>
</agm-map>

<h5 style="margin-left:10%;">


  <div class="">
    <sup style="font-size:0.5em;color:#5699d2;"> Live Status
     </sup>
    <img src="./assets/2.gif" alt="Person" id="gif"><p>

Food is on the way</p>

  </div>
<br>

 </h5>
<hr>
<div class="chip">
  <img src="./assets/driver.png" alt="Person" width="106" height="70" id="user">
  {{items.DeliveryBoys.DeliveryBoysName}}

</div>
<a  class="button button1 pull-right "  role="button" href="tel:+91 {{items.DeliveryBoys.DBMobileNo}}">

  {{items.DeliveryBoys.DBMobileNo}} <i class="fa fa-phone" aria-hidden="true"></i></a>





<!-- Progress Tracker v2
<ol class="etapier" width="75%">
    <li class={{active}}>Coocking</li>
    <li class="done">On the Way</li>

    <li class="todo">Delivered</li>
</ol>
-->
