.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  border-radius: 25px;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 60px;
  border-radius: 50%;
}
.button5 {border-radius: 25%;}

.button {
  display: inline-block;
  font-size: 22px;
  line-height: 1;
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
  border: 1px solid #FF0053;
  background-color: #FF0053;
  overflow: hidden;
  position: relative;
  transition: all .2s ease-out;
  user-select: none;
  box-shadow: 1.7px 5.8px 21px 0 rgba(211, 64, 133, 0.5);
}

.button:after {
  content: "";
  position: absolute;
  top: -50%;
  bottom: -50%;
  background: linear-gradient(90deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,.6) 100%);
  width: 45px;
  transform: skewX(-22deg);
  left: -65%;
  animation-name: blick;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes blick {
	60% {
		left: 100%
	}
	to {
		left: 130%
	}
}

@keyframes blick {
	60% {
		left: 100%
	}
	to {
		left: 130%
	}
}
