


<agm-map  style="height:420px" [zoomControl]="false"
  [streetViewControl]="false">
  <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination" [renderOptions]="renderOpts" [markerOptions]="markerOpts"></agm-direction>
</agm-map>


 <div class="card">
  <div class="card-body">
    <h5 class="card-title">


      <div class="chip">

        <img src="./assets/driver.png" alt="Person" width="106" height="70">
 {{items.DeliveryBoys.DeliveryBoysName}}

      </div>
      <button type="button" class="btn  pull-right btn-success btn-xs button5">
     call  <i class="fa fa-phone" aria-hidden="true"></i>
</button>
     </h5>
    <p class="card-text"></p>
    <a class="card-link">Status : <a href="#" class="button">{{items.status}} </a>
</a> <br>
<div style="width:100%;">
<svg width="320"  viewBox="0 0 500 300" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <pattern id='diagonalHatch' class='diagonal-hatching-translate' patternUnits='userSpaceOnUse' width='20' height='20'>
      <path d='M -5 5 l 10 -10 M 0 20 l 20 -20 M 15 25 l 10 -10' stroke='#e0e3ea' stroke-width='3' />
    </pattern>
  </defs>
  <path d="M0,0 h 20" fill="none" id="newMotionPath"/>
  <g class="process-bar-background"><path d="M 12 0 A 12 12 0 0 0 12 24 H 318 A 12 12 0 0 0 318 0" fill="#e0e3ea"></path></g>
  <g class="publishing-group">
    <rect x="256.8" y="0" width="61.2" height="24" fill="#e0e3ea"></rect>
    <text x="293.40000000000003" y="12" alignment-baseline="middle" class="icon-fa-sliders" fill="#b6becb" text-anchor="middle"></text>
    <path d="M 318 24 A 12 12 0 0 0 318 0" fill="#e0e3ea"></path>
    <text x="293.40000000000003" y="40" fill="#b6becb" font-size="11" font-weight="bold" text-anchor="middle">Delivered</text>
  </g>
  <g class="processing-group">
    <path d="M 73.2 0 v 24 h 183.6 l 10.392304845413264 -12 l -10.392304845413264 -12" fill="#24597b" stroke="#fff" stroke-width="1"></path>
    <path d="M 53.2 0 v 24 h 203.6 v -24" fill="url(#diagonalHatch)">
      <animateMotion dur="1s" repeatCount="indefinite">
        <mpath href="#newMotionPath"/>
      </animateMotion>
    </path>

    <text x="165" y="40" fill="#24597b" text-anchor="middle" font-size="11" font-weight="bold">on the way</text>
  </g>
  <g class="preparing-group">
    <path d="M 12 0 A 12 12 0 0 0 12 24 h 61.2 l 10.392304845413264 -12 l -10.392304845413264 -12" fill="#18a349" stroke="#fff" stroke-width="1">
    </path>
    <text x="36.6" y="12" alignment-baseline="middle" class="icon-fa-wrench" fill="#fff" text-anchor="middle">
      </text><text x="36.6" y="40" fill="#18a349" font-size="11" font-weight="bold" text-anchor="middle">Cooking</text></g>
</svg>

  </div>
  </div>
</div>
