
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #FFF;
    border-radius: .25rem;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 0.6em;
    font-weight: 700;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow:#FFF;
    box-shadow: #FFF;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1);

}
.button {
  border: none;
  color: #72BA65;
  border-radius: 10px;
width:50%;
padding: 10px 24px;
    text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.7em;
  margin: 1px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: #72BA65;
  border-radius: 10px;
  border: 2px solid #72BA65;
}

.button1:hover {
  background-color: #72BA65;
  color: white;
}






.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  border-radius: 25px;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 60px;
  border-radius: 50%;
}


@-webkit-keyframes blick {
	60% {
		left: 100%
	}
	to {
		left: 130%
	}
}

@keyframes blick {
	60% {
		left: 100%
	}
	to {
		left: 130%
	}
}
