@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

@import url('https://fonts.googleapis.com/css?family=Pacifico&subset=cyrillic,latin-ext,vietnamese');
  .input-group .form-control {
      position: relative;
      z-index: 2;
      float: left;
      width: 70%;
      margin-bottom: 0;
  }
.search-button{
  padding-left:5%;
  height:100%;

}
.input-group-text{
  background-color: #E81E1E;
color:#fff;
}
.title-pen {
  color: #333;
  font-family: "Coda", sans-serif;
  text-align: center;
}
.title-pen span {
  color: #55acee;
}

.address {

    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 25px;
  }

  .address:hover {
    background-color: #494;
  }
