<div class="total">
  <h1 class="title-pen">
      Offers </h1>





<div cass="cartempty">
  <h1 style="text-align:center;font-weight:400;
margin-top:10%">
Your Offers are
<img src="./assets/comingsoon.png"height="250px">
<br><br>
</h1>
<div style="margin-left:20%; margin-top:10%;font-family: 'Lobster Two', cursive;">
<button class="address" >Continue Shoping </button>

</div>
</div>


<!--
<div class="card panels-card">



  <!--Navbar-->

  <!--/.Navbar-->

  <!--<div class="card-body grey lighten-5 rounded-bottom">

    <!-- Grid row -->
    <!--<div class="row">

      <!-- Grid column -->
      <!--<div class="col-6 p-1">

        <div class="card indigo white-text+">
          <div class="card-body pb-0">
        <img src="./assets/kfc.jpg" width="130px" height="100px">
          </div>
          <hr>
          <div class="card-body pt-0">
            <h6 class="font-weight-bold mb-1">Burger King </h6>
            <p class="mb-0">Offers 50% off</p>
          </div>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <!--<div class="col-6 p-1">

        <div class="card orange lighten-3">
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <img src="./assets/mom.png" width="130px" height="100px">

            </div>
          </div>
          <hr>
          <div class="card-body pt-0">
            <h6 class="font-weight-bold mb-1">Thick Shakes </h6>
            <p class="mb-0">Offers 50% off</p>
          </div>
        </div>

      </div>
      <!-- Grid column -->

    <!--</div>
    <!-- Grid row -->

    <!-- Grid row -->
    <!--<div class="row">

      <!-- Grid column -->
      <!--<div class="col-6 p-1">

        <div class="card indigo lighten-3">
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <img src="./assets/frozenbottle.jpg" width="130px" height="100px">

            </div>
          </div>
          <hr>
          <div class="card-body pt-0">
            <h6 class="font-weight-bold mb-1">Ice Cream</h6>
            <p class="mb-0">Offers 50% off</p>
          </div>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
    <!--  <div class="col-6 p-1">

        <div class="card grey lighten-2">
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <img src="./assets/burgerking.png" width="130px" height="100px">

            </div>
          </div>
          <hr>
          <div class="card-body pt-0">
            <h6 class="font-weight-bold mb-1">burgers</h6>
            <p class="mb-0">Offers 50% off</p>
          </div>
        </div>

      </div>
      <!-- Grid column -->

  <!--  </div>
    <!-- Grid row -->

    <!-- Grid row -->
  <!--  <div class="row">

      <!-- Grid column -->
    <!--  <div class="col-6 p-1">

        <div class="card orange lighten-3">
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <img src="./assets/mom.png" width="130px" height="100px">

            </div>
          </div>
          <hr>
          <div class="card-body pt-0">
            <h6 class="font-weight-bold mb-1">Honolulu</h6>
            <p class="mb-0">Sunny</p>
          </div>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
  <!--    <div class="col-6 p-1">

        <div class="card indigo white-text">
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <img src="./assets/kfc.jpg" width="130px" height="100px">

            </div>
          </div>
          <hr class="hr-light">
          <div class="card-body pt-0">
            <h6 class="font-weight-bold mb-1">Anchorage</h6>
            <p class="mb-0">Heavy rain</p>
          </div>
        </div>

      </div>
      <!-- Grid column -->

    <!--</div>
    <!-- Grid row -->

  <!--</div>

</div>-->
</div>
