<div cass="cartempty" *ngIf="!isavail">
  <h1 style="text-align:center;font-weight:400;
margin-top:20%">

<img src="./assets/wifi.gif"  alt="Loading"height="250px">
<br><br>
Slug needs Internet<br> <sub style="font-size:0.5em"> Please check Your Internet Connection </sub></h1>
<div style="margin-left:20%; margin-top:10%;font-family: 'Lobster Two', cursive;">

</div>
</div>
<br><br><br><br><br>

<div cass="cartempty" *ngIf="!isavail">
  <h1 style="text-align:center;font-weight:400;
margin-top:20%">

<img src="./assets/loc.gif"  alt="Loading"height="250px">
<br><br>
Sorry..!<br> <sub style="font-size:0.5em"> We Dont Serve in Your Location </sub></h1>
<div style="margin-left:20%; margin-top:10%;font-family: 'Lobster Two', cursive;">

</div>
</div>
