<div class="total">

<h1 Style="text-align:center">Account</h1>

  <div class="content">
    <div class="card card-profile">
      <div class="firstinfo"><img src="./assets/u.jpg" alt="profile"/>
        <div class="profileinfo">
          <h1>{{name}}</h1>
          <h3></h3>
          <p class="bio">MobileNo : {{phone}}
          Email:{{email}}</p>
          <a  class="button button1  " style="margin-left:15%;" role="button" (click)="logout()">Log-out</a>

        </div>
      </div>
    </div>

  </div>










<!--
<h1 class="title-pen">
    <div class="username">Name </div></h1>
<div class="user-profile">


  <div class="bio">

  <div class="w3-row w3-section">
    <div class="w3-col" style="width:50px; font-size:1em">Mobile</div>
      <div class="w3-rest">
        <input class="w3-input" type="text">
      </div>
  </div>
  <div class="w3-row w3-section">
    <div class="w3-col" style="width:50px">Email</div>
      <div class="w3-rest">
        <input class="w3-input" type="text">
      </div>
  </div>  <div class="w3-row w3-section">
      <div class="w3-col" style="width:50px">Address</div>
        <div class="w3-rest">
          <input class="w3-input" type="text">
        </div>
    </div>
  </div>
    <div class="description">
</div>
  </div>-->

 <hr>

 <h3 class="title-pen"> Your Orders</h3>

 <div class="card" style="margin-bottom:5%;" *ngFor="let item of orders">

   <!-- Card image -->


   <!-- Card content -->
   <div class="card-body  black-text rounded-bottom" >

     <!-- Social shares button -->
     <!-- Title -->
     <h4 class="card-title" style="width:100%"  maxlength="10">Order Details</h4>
     <hr class="">
     <!-- Text -->
     <p class="card-text black-text mb-4">
  No of Items : {{item.itemid.length}}<br>
Amount : {{item.price}}<br>
Address: <span  maxlength="50"  style="display:block;text-overflow: ellipsis;width:300px;overflow: hidden; white-space: nowrap;">{{item.address}}</span> </p>
     <!-- Link -->
                      <h5>
                         <a  class=" button button1   " style="pull-left"  *ngIf="item.status=='close'" role="button">RE-Order</a>
                         <a  class=" button button1  " style="pull-left"  *ngIf="item.status!='close'" role="button" (click)="track(item.orderid)">Track Order</a>

  </h5>

   </div>

 </div>



</div>
